<html lang="en">
<head>
    <style>
        body {
            background-color: #06CA55;
        }

        #formwrapper {
            display: block;
            border: 2px solid black;
            margin: 40px;
            width: 400px;
        }

        #formwrapper form {
            margin: 10px;
        }

        #diff {
            width: 30px;
        }

        label {
            display: inline-block;
            width: 140px;
            text-align: right;
        }

        #logo {
            margin: 50px;
            align-self: center;
        }


        form input, select {
            background-color: #4ee58b;
        }

        .fullwidth {
            width: 100%;
        }

        #image {
            width: 300px;
            height: 300px;
        }
    </style>
    <title>QR code generator for calendar entries</title>
</head>
<body>

<h1>QR Code Generator</h1>
<h3>(Default template)</h3>
<div id="formwrapper">
    <form>
        <img src="{{.}}/static/logo.png" alt="Logo" id="logo">
        <div class="block">
            <label for="summary">Summary</label>
            <input type="text" id="summary" placeholder="Sample Event">
        </div>
        <div class="block">
            <label for="location">Location</label>
            <input type="text" id="location" placeholder="Madison Street">
        </div>
        <div class="block">
            <label for="url">URL</label>
            <input type="text" id="url" placeholder="https://example.com">
        </div>
        <div class="block">
            <label for="start">Start</label>
            <input type="datetime-local" id="start">
        </div>
        <div class="block">
            <label for="end">End</label>
            <input type="datetime-local" id="end">
        </div>
        <div class="block">
            <label for="description">Description</label>
            <input type="text" id="description" placeholder="Description of the event">
        </div>
        <div class="block">
            <label for="diff">Add alert</label>
            <input type="checkbox" id="createAlert">
            <input type="number" id="diff" value=1>
            <select id="unit">
                <option value="D">Days</option>
                <option value="M">Minutes</option>
            </select> before start
        </div>
        <div class="fullwidth">
            <input type="button" class="fullwidth" value="Send" onclick="send()"/>
        </div>
    </form>
</div>
<img id="image" alt="generated code"/>
<script language="JavaScript">

    const COLOR_INVALID = "red";
    const COLOR_VALID = "black";

    function setFormFrameColor(color) {
        document.getElementById("formwrapper").style.borderColor = color;
    }

    function packJson() {
        try {
            data = JSON.stringify({
                "Summary": document.getElementById("summary").value,
                "Location": document.getElementById("location").value,
                "URL": document.getElementById("url").value,
                "Start": isoDateOf(document.getElementById("start").value),
                "End": isoDateOf(document.getElementById("end").value),
                "Description": document.getElementById("description").value,
                "diff": parseInt(document.getElementById("diff").value),
                "unit": document.getElementById("unit").value,
                "createAlert": document.getElementById("createAlert").checked
            });
            return data;
        } catch (e) {
            console.log(e)
            return null;
        }
    }

    function send() {

        // Mark valid
        setFormFrameColor(COLOR_VALID)
        var data = packJson();

        if (data == null) {
            setFormFrameColor(COLOR_INVALID)
            return
        }

        var xhr = new XMLHttpRequest();
        var url = "{{.}}/code";
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.responseType = "arraybuffer";
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {


                // Obtain a blob: URL for the image data.
                var arrayBufferView = new Uint8Array(xhr.response);
                var blob = new Blob([arrayBufferView], {type: "image/jpeg"});
                var urlCreator = window.URL || window.webkitURL;
                var imageUrl = urlCreator.createObjectURL(blob);
                var img = document.querySelector("#image");
                img.src = imageUrl;

            } else if (xhr.status === 400) {
                //Mark invalid
                setFormFrameColor(COLOR_INVALID)
                console.log("Error from backend: " + xhr.body)
            }
        };
        console.log(data)
        xhr.send(data);
    }

    function isoDateOf(stringInput) {
        return new Date(stringInput).toISOString()
    }
</script>
</body>
</html>